<p>Add a new task:</p>

<form action="/CDs" method="post">
  <label for="cdName">CD Name</label>
  <input id="cdName" name="cdName" type="text">

  <button type="submit" class="btn btn-default">Add CD</button>
</form>
